footer {
    justify-items: center;
    margin-top: 150px;
    background-color: var(--third-color);
    animation: rise;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

@keyframes rise {
    from {
        opacity: 0;
        translate: 0 -10vw;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

footer li {
    list-style: none;
}

.rodape {
    display: flex;
    gap: 450px;
    padding-bottom: 100px;
}

.rodape-card{
    line-height: 40px;
    width: 300px;
    padding-left: 65px;
}

.rodape-card h1 {
    font-weight: bold;
    margin-bottom: 15px;
    width: 400px;
}

.email button{
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    font-size: 17px;
    gap: 10px;
    cursor: pointer;
}

.email :hover {
    color: var(--second-color);
    transform: scale(1.01);
}

.rodape-card ul {
    padding-left: 10px;
}

.links h1{
    font-weight: bold;
}

.footer-icon {
    gap: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lista-icons li {
    color: #fff;
}

.lista-icons li:hover{
    color: var(--second-color);
    transform: scale(1.01);
}