footer {
    margin-top: 250px;
    background-color: var(--third-color);
    animation: rise;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

@keyframes rise {
    from {
        opacity: 0;
        translate: 0 -10vw;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

footer li {
    list-style: none;
}

.rodape {
    justify-content: space-around;
    display: flex;
    padding: 50px;
}

.rodape-card{
    line-height: 40px;
}

.rodape-card h1 {
    font-weight: bold;
    margin-bottom: 15px;
    text-wrap: nowrap;
}

.rodape-card h4 {
    display: flex;
    width: 400px;
}

.email button{
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    font-size: 17px;
    gap: 10px;
    cursor: pointer;
}

.email :hover {
    color: var(--second-color);
    transform: scale(1.01);
}

.rodape-card ul {
    padding-left: 10px;
}

.links h1{
    font-weight: bold;
}

.footer-icon {
    gap: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lista-icons a {
    text-decoration: none;
}

.lista-icons li {
    color: #fff;
}

.lista-icons li:hover{
    color: var(--second-color);
    transform: scale(1.01);
}

@media (max-width: 1040px) {
    .rodape{
        gap: 200px;
    }

    .rodape-card h1{
        text-align: left;
        font-size: 22px;
        margin-bottom: 15px;
    }
}

@media (max-width: 800px) {
    .links h1{
        max-width: 200px;
    }

    .rodape-card{
        padding-left: 0;
        max-width: 200px;
    }

    #copy-button{
        color: var(--second-color);
    }
}

@media (max-width: 450px) {
    .rodape {
        flex-direction: column;
        gap: 30px;
    }

    .rodape-card h1{
        margin: 0;
    }

    .rodape-card h4{
        width: auto;
        font-size: 15px;
    }
}