.nav-bar-container {
    font-size: 20px;
    width: 100%;
    height: 80px;
    padding: 0 2rem;
    top: 0px;
    position: sticky;
    display: inline-block;
    background-color: var(--third-color);
    z-index: 9;
}

nav {
    position: relative;
}

.name-title {
    margin: 1rem 0 0 20px;
}

.first-name {
    margin-left: -1.5rem;
}

.nav-list {
    list-style: none;
    text-decoration: none;
    position: absolute;
    top: 15px;
    right: 1rem;
}

.nav-list a {
    text-decoration: none;
    color: var(--second-color);
}

.nav-list a :hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    border-radius: 5px;
}

.nav-list a span {
    color: white;
}

.nav-list li {
    display: inline-block;
    margin: 0 7px;
}