.habilidades {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.habilidades-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    justify-content: center;
    margin-top: 25vh;
}

.png-logo img {
    max-height: 20vh;
    min-height: 180px;
    transition: .25s;
}

.png-logo img:hover{
    transform: scale(1.2);
}

@media (max-width: 1040px) {
    .habilidades-container{
        max-width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 100px;
        gap: 30px;
        margin-left: -2px;
    }

    .png-logo {
        max-width: 100px;
        text-align: center;
    }
    
    .png-logo img{
        max-height: 10vh;
        min-height: 5vh;
        transition: .25s;
    }
}

@media (max-width: 450px) {
    .habilidades-container {
        display: flex;
        flex-wrap: wrap;
    }
}