.sobre-mim{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title-sobre-mim {
    font-size: 30px;
    margin-top: -50px;
    animation: float 4s ease-in-out infinite;
}

.title-sobre-mim h2 {
    transform: rotate(-90deg);
    margin-top: -15px;
    max-width: 40px;
    margin: 0 auto;
}


.sobre-mim-itens {
    display: flex;
    max-width: 80%;
    margin: 190px auto;
    gap: 100px;
}

#perfil-photo{
    max-width: 400px;
    border-radius: 150px;
    animation: aparecer-left;
    animation-timeline: view();
    animation-range: cover 1% cover 50%;
}

@keyframes aparecer-left {
    from {
        opacity: 0;
        translate: -10vw 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

#about-me {
    max-width: 550px;
    font-size: 20px;
    margin-top: 60px;
    text-align: left;
    animation: aparecer-right;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@keyframes aparecer-right {
    from {
        opacity: 0;
        translate: 10vw 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@media (max-width: 1500px) {
    .title-sobre-mim{
        margin-top: -150px;
    }
}

@media (max-width: 1040px){
    #perfil-photo {
        max-height: 400px;
        margin: auto 0;
    }

    #about-me {
        margin: auto 0;
    }
}

@media (max-width: 800px) {
    .sobre-mim-itens {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {

    /* .sobre-mim{
        margin-top: 10px;
    } */

    .sobre-mim-itens {
        margin: 100px auto;
    }
    
    #perfil-photo {
        max-width: 90%;
    }
}